@media screen and (max-width:1300px)
{     .white{
      color:white;
}
#displaycontainer{
      height: 72vh;
      margin-top: 10px;
}
      .theme-pink{
       color: #ed257a;
      }
      .theme-blue{
       color: #5361ca;
      }
      .theme-darkblue{
            color: #2c388f;
      }
      .heading{
            font-size: 23px;
      }
      .heading1{
            font-size: 20px;
            font-weight: 600;
      }
      .small
      {
            font-size: 12px;
      }
      .xsmall{
            position: relative;
            top:-10px;
            font-size: 10px;
      }
      .viewmore{
           
            font-size: 12px;
      }
      .theme-gray{
            color: #9d9da3;
      }
      #logo{
       height: 180px;
      }
      #landing-header{
       font-size: 30px;
       font-weight: 600;
      } 
      #subhead{
       font-size: 25px;
       font-weight: 700;
      }
      .landpage-btn{
       background-color: #5361ca;
       border-radius:100px ;
       color: white;
      }
      #land-bg{
       background-image: url("./components/images/landingbg.png");
       height: 100vh;
       width: 100vw;
       background-size: 100vw 100vh;
      }
     #searchicon,#searchicon1{
           position: relative;
           top:25px;
           right:10px;
     }
     #topheader{
           background-image: url("./components/images/background.png");
           background-repeat: no-repeat;
           background-size: 100% 100%;
     }
     #topheader1{
           background-color: #ffdfe6;
     }
     #searchbar{
           border: none;
           border-radius: 10px;
     }
     #jukebox{
           height: 50vh;
     }
     #list,#topsong{
      /* border: 1px solid black; */
      max-height: 60px;
      padding-bottom: 20px;
      padding-top: 5px;
     }
     #topsong{
           background-color: #e7d3f3;
     }
     #player{
           height: 9vh;
           background-color: #ffdfe6;
     }
     .slidecontainer,.slider {
      width: 100%;  
      height: 18%;
      position: relative;
      bottom: 9px;
     }
   #bla{
         float: left;
         margin-left: 10px;
   }
   #playicon{
         margin-top: -45px;
   }
   #sname{
         font-size: 14px;
   }
   #aname{
      position: relative;
      top:-5px;
         font-size:13px ;
   }
   #player-icons{
         margin-top: -7px;
   }
  
   .fa-step-backward,.fa-step-forward,.fa-random,.fa-refresh {
         
        position: relative;
       bottom:5px;
        right: 5px;
        font-size: 20px;
   }
   .fa-random{
         position: relative;
         right: 30px;
   }
   .fa-refresh{
      position: relative;
      left: 30px;
   }
   .fa-step-forward{
         left:5px;
   }
   #pause-play-icons{
         font-size: 35px;
   }
   .sideicon{
      position: relative;
      top:-50px
   }

    .fontsong{
          font-size: 4vw;
    }
}
@media screen and  (max-width:330px)
{
   #logo{
    height: 150px;
   }
   #landing-header{
    font-size: 25px;
   }
   #searchicon1{
      position: relative;
      top:25px;
      right:-40px;
}
}